[user]
    name = r181104
    email = sten181104@gmail.com
    signingkey = ~/.ssh/id_rsa

[core]
    editor = nvim
    pager = delta
    autocrlf = input

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true       
    line-numbers = true   
    side-by-side = true   
    syntax-theme = Dracula
    hyperlinks = true     

[diff]
    colorMoved = default

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = current

[color]
    ui = auto
